@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;

  --background-color: #c7c7c7;

  --error-color: #DC2626;
}

body {
  font-size: 1.25rem;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.container {
  max-width: 350px;
}
